.custbody{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/bg.jpg');  
    height:970px;
}

.navbar{
   
    font-size: 20px !important;
}


.fancy-cards{
  text-align: center;
  margin: 80px auto;
}
.fancy-cards .fancy-card{
  display: inline-block;
  position: relative;
  top: 40px;
  left: 20px;
  box-sizing: border-box;
}

.fancy-card .top,
.fancy-card .middle,
.fancy-card .bottom{
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  width: 250px;
  height: 250px;
  transition: transform 300ms linear-out;
}
.fancy-card .top{
  z-index: 3;
  transform: scale(1.0);
  transition: transform 300ms cubic-bezier(0.22, 0.61, 0.36, 1);
  background-image: url('https://static-1.gumroad.com/res/gumroad/assets/collections/food_and_cooking_thumb-34fb9ef316a7b01177529839891c3a03.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0px 1px 3px rgba(25,25,25,0.30);
}
.fancy-card .middle{
  position: absolute;
  background: #aaa;
  top: 0px;
  z-index: 2;
  transform: rotate(0deg);
  transition: transform 250ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.fancy-card .bottom{
  position: absolute;
  background: #ccc;
  top: 0px;
  z-index: 1;
  transform: rotate(0deg);
  transition: transform 250ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.fancy-card .caption{
  overflow: hidden;
  background: rgba(255,255,255,0.75);
  padding: 15px 10px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
.fancy-card .caption .title{
  color: #222;
  margin: 0px 0px 15px 0px;
  font-size: 1.4rem;
}
.fancy-card .caption .button{
  display: inline-block;
  color: #333;
  text-decoration: none;
  border: solid 1px #555;
  padding: 7px 13px;
  background-color: transparent;
  transition: all 300ms ease-in;
}


/*hovering*/
.fancy-card:hover .top{
  transform: scale(1.05);
}
.fancy-card:hover .middle{
 transform: rotate(-7deg);
 box-shadow: 1px 1px 2px rgba(74, 74, 74, 0.35);
}
.fancy-card:hover .bottom{
  transform: rotate(7deg);
  box-shadow: 1px 1px 2px rgba(113, 113, 113, 0.35);
}

.fancy-card:hover .button{
  background: rgba(0,0,0,0.8);
  color: #fff;
  border: 0px;
}


.img{
    margin-top: 40px;
    height: 200px;
    width: 300px;
}

.top-restro{
    margin-top: 30px !important;
    width:100%;
    
   
}







ul.list-group {
    padding: 0;
}

ul.list-group li.list-group-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 1.3rem;
   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    list-style: none;
    transition: all 200ms ease-out;
    background: white;
}


ul.list-group li.list-group-item:hover {
    background: whitesmoke;
    transform: scale(1.01);
    transition: all 200ms ease-in;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

ul.list-group li.list-group-item div.avatar {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    margin-right: 1rem;
}

ul.list-group li.list-group-item div.avatar img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

@media (max-width: 991px) {
    .container {
        width: 90%;
    }
}